*{
font-style:"normal";
}
em.describe{
color:"forestgreen";
font-weight:"bold";
font-size:"medium";
}
em.mistake{
color:"blue";
font-weight:"bold";
font-size:"medium";
}
em.match{
color:"red";
font-weight:"bold";
font-size:"medium";
}
em.maru{
color:"red";
font-weight:"bold";
font-size:"large";
}
/*
font-family:"メイリオ";
*/
em.batsu{
color:"blue";
font-weight:"bold";
font-size:"large";
}
h1{
font-size:"medium";
font-weight:"normal";
}
p{
text-align:"center";
font-family:"メイリオ";
background-color:"#FFFFFF";
font-size:"220%";
color:"#000000";
font-weight:"bold";
}